body {
    font-family: Tahoma, Geneva, sans-serif;
    background: #c00000;
    color: black;
  }
 
#brand {
    font-family: Georgia, serif;
    background: #c00000;
    color: black;
    margin-left: 50%;
    text-align: center;
    font-size: 70px;
  }

.information1 {
    text-align: center;
    max-width: 30%;
    margin-right: 10px;
    font-size: 20px;
    background: #8dd44b;
    color: black;
    border-style: solid;
    padding: 5x;
  }

.honey {
    text-align: center;
    max-width: 70%;
    margin: auto;
    font-size: 20px;
    background: #8dd44b;
    color: black;
    border-style: double;
    border-weight: 2px;
    padding: 10x;
  }

#big {
    font-family: Georgia, serif;
    background: #8dd44b;
    color: black;
    margin-left: 10%;
    font-size: 30px;
    border-style: double;
    border-weight: 2px;
    padding: 5x;
  }

.dates {
    text-align: center;
    max-width: 70%;
    height: 180px;
    margin: auto;
    font-size: 20px;
    background: #8dd44b;
    color: black;
    border-style: solid;
    padding: 5x;
  }

.most_varieties{
    text-align: auto;
    padding: 5px;
    border-style: solid;
    font-size: 16px;
    width: 30%;
    margin-bottom: 10px;
    margin-right: 10px;
  }

.bold {
    font-weight: bold;
  }

.underline {
  text-decoration: underline;
  }

  header img { 
    display: block;
    margin-left: 5%;
    margin-right: auto;
    width: 50%;
    }
