body {
    font-family: Tahoma, Geneva, sans-serif;
    background: #c00000;
    color: black;
  }
 
#brand {
    background: #c00000;
    color: black;
    margin-left: 75%;
    padding: 5px;
    text-align: center;
    font-size: 70px;
  }

.information1 {
    text-align: center;
    position: relative;
    right: -60%;
    max-width: 25%;
    margin-left: 10px;
    font-size: 12px;
    background: #8dd44b;
    color: black;
    border-style: solid;
    padding: 3px;
    margin-bottom: 10px;
  }

.honey {
    text-align: center;
    max-width: 25%;
    margin-left: 10px;
    font-size: 12px;
    background: #8dd44b;
    color: black;
    border-style: double;
    border-weight: 6px;
    padding: 3px;
    position: relative;
    right: -60%;
    margin-bottom: 10px;
  }

#big {
    background: #8dd44b;
    color: black;
    margin-right: 10%;
    font-size: 30px;
    border-style: double;
    border-weight: 6px;
    padding-left: 15px;
    padding-right: 15px;
    left: 15%;
    width: fit-content;
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;
  }

.dates {
    text-align: center;
    max-width: 70%;
    height: 290px;
    margin: auto;
    font-size: 20px;
    background: #8dd44b;
    color: black;
    border-style: solid;
    padding: 3px;
    columns:3;
  }

.most_varieties{
    text-align: auto;
    padding: 5px;
    border-style: solid;
    font-size: 12px;
    width: 90%;
    margin-bottom: 5px;
    margin-right: 5px;
  }

.bold {
    font-weight: bold;
  }

.underline {
  text-decoration: underline;
  }

.fancy{
 font-family: Georgia, serif;
    }

.curve{
    border-radius: 20px;
    }

  header img { 
    display: inline-block;
    margin-left: 2%;
    margin-right: auto;
    width: 50%;
    position: absolute;
    border-radius: 40px;
    }
