body {
    font-family: Tahoma, Geneva, sans-serif;
    background: #c00000;
    color: black;
  }
 
#brand {
    background: #c00000;
    color: black;
    margin-left: 50%;
    text-align: center;
    font-size: 70px;
  }

.information1 {
    text-align: center;
    position: relative;
    right: -60%;
    max-width: 30%;
    margin-left: 10px;
    font-size: 20px;
    background: #8dd44b;
    color: black;
    border-style: solid;
    padding: 5x;
  }

.honey {
    text-align: center;
    max-width: 30%;
    margin-left: 20px;
    font-size: 20px;
    background: #8dd44b;
    color: black;
    border-style: double;
    border-weight: 2px;
    padding: 10x;
    position: relative;
    right: -60%;
  }

#big {
    background: #8dd44b;
    color: black;
    margin-right: 10%;
    font-size: 30px;
    border-style: double;
    border-weight: 2px;
    padding: 5x;
    position: relative;
    right: 80%;
    border-radius: 5px;
  }

.dates {
    text-align: center;
    max-width: 70%;
    height: 275px;
    margin: auto;
    font-size: 20px;
    background: #8dd44b;
    color: black;
    border-style: solid;
    padding: 3px;
    columns:3;
  }

.most_varieties{
    text-align: auto;
    padding: 5px;
    border-style: solid;
    font-size: 12px;
    width: 90%;
    margin-bottom: 5px;
    margin-right: 5px;
  }

.bold {
    font-weight: bold;
  }

.underline {
  text-decoration: underline;
  }

.fancy{
 font-family: Georgia, serif;
    }

.curve{
    border-radius: 10px;
    }

  header img { 
    display: block;
    margin-left: 5%;
    margin-right: auto;
    width: 50%;
    
    }
