body {
    font-family: Tahoma, Geneva, sans-serif;
    background: #c00000;
    color: black;
  }
 
#brand {
    background: #c00000;
    color: black;
    margin-left: 75%;
    margin-right: 10%;
    padding: 5px;
    text-align: center;
    font-size: 70px;
  }

.information1 {
    text-align: center;
    max-width: 18%;
    margin: auto;
    font-size: 12px;
    background: #8dd44b;
    color: black;
    border-style: solid;
    padding: 3px;
    margin-bottom: 10px;
  }

.honey {
    text-align: center;
    max-width: 18%;
    margin-left: 13%;
    font-size: 12px;
    background: #8dd44b;
    color: black;
    border-style: solid;
    border-weight: 6px;
    padding: 3px;
    position: relative;
    right: -60%;
    margin-bottom: 10px;
    rotate: -24deg;
    margin-top: 50px;
  }

#big {
    background: #8dd44b;
    color: black;
    margin-right: 10%;
    font-size: 30px;
    border-style: solid;
    border-weight: 6px;
    padding-left: 15px;
    padding-right: 15px;
    left: 100px;
    width: fit-content;
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;
    top: -10px;
  }

.dates {
    text-align: center;
    max-width: 70%;
    height: 400px;
    margin: auto;
    font-size: 20px;
    background: #8dd44b;
    color: black;
    border-style: solid;
    padding: 3px;
    columns: 2;
    top: -0px;
    position: relative;
  }

.most_varieties{
    text-align: auto;
    padding: 5px;
    border-style: solid;
    font-size: 12px;
    width: 90%;
    margin-bottom: 5px;
    margin-right: 5px;
  }

.bold {
    font-weight: bold;
  }

.underline {
  text-decoration: underline;
  }

.fancy{
 font-family: Georgia, serif;
    }

.curve{
    border-radius: 20px;
    }

  header img { 
    display: inline-block;
    margin-left: 2%;
    margin-right: auto;
    width: 60%;
    position: absolute;
    border-radius: 40px;
    border-style: solid;
    border-color: white;
    border-width: thick;
    }


footer {
  text-align: center;
  padding-top: 50px;
}
